// -----------------------------------------------------------------------------
// Sprite Mixin
// -----------------------------------------------------------------------------  

@sprite-url: "images/sprite.png";

.sprite {
  background: url(@sprite-url) no-repeat 0 0;
  background-size: 267px auto;
}