// -----------------------------------------------------------------------------
// colors
// -----------------------------------------------------------------------------

//cool
  @catalina:                      #009ee2;
  @midnight:                      #038cb1;
  @navy:                          #006f99;
  @steel:                         #302766;
  @blue:                          #00aeef;
  @aqua:                          #00b286;
  @teal:                          #39cccc;
  @olive:                         #3d9970;
  @green:                         #00cc99;
  @lime:                          #01ff70;
//warm
  @yellow:                        #ffdc00;
  @orange:                        #ef6316;
  @red:                           #ff4136;
  @maroon:                        #85144b;
  @fuchsia:                       #e5007e;
  @purple:                        #b10dc9;
//gray scale
  @white:                         #ffffff;
  @silver:                        #c7cbd3;
  @grey:                          #262728;
  @black:                         #3f454d;

  @base:                          @blue; // use it in things that can change
  @base-background:               @blue;
  @base-danger-color:             @yellow;
  @base-error-color:              @red;
  @base-hover-color:              @white;
  @base-link-color:               @blue;
  @base-valid-color:              @green;

  @dim:                           fadeout(@black, .5);
  @dimmer:                        fadeout(@black, .8);

// -----------------------------------------------------------------------------
// colors for brands
// -----------------------------------------------------------------------------
  @brand-facebook:                #03539e;
  @brand-twitter:                 #35ccff;
  @brand-linkedin:                #217bc1;
