<section class="partial--hero">
  <div class="vcenter">
    <div class="vobject">
      <div class="container">
        <div class="row">
          <div class="partial--hero__create-new">
            <input class="input" type="text" ng-model="createPostText" placeholder="What's on your mind?">
            <button class="button media"><span class="icon photo"></span> Add Photo</button>
            <button class="button media"><span class="icon video"></span> Add Video</button>
          </div>
        </div>
        <div class="partial--hero__toggles row">
          <div class="partial--hero__post-toggle">
            <ul>
              <li class="active"><a ui-sref="home.all-posts">All Posts</a></li>
              <li>Photos</li>
              <li>Videos</li>
          </div>          
          <div class="partial--hero__view-toggle">
            <ul>
              <li><span class="icon list active" ng-click="changeListType('list')" ng-class="{'active': listType === 'list'}"></span></li>
              <li><span class="icon tile" ng-click="changeListType('tile')" ng-class="{'active': listType === 'tile'}"></span></li>
          </div>
        </div>
      </div><!-- end of container -->
    </div>
  </div>
</section><!-- end of hero section -->
