<section class="partial--hero">
  <div class="vcenter">
    <div class="vobject">
      <div class="container">
        <div class="row">
          <div class="partial--hero__create-new">
            <input class="input" type="text" placeholder="What's on your mind?">
            <button class="button"><span class="icon photo"></span> Add Photo</button>
            <button class="button"><span class="icon video"></span> Add Video</button>
          </div>
        </div>
        <div class="partial--hero__toggles row">
          <div class="partial--hero__post-toggle">
            <ul>
              <li class="active">All Posts</li>
              <li>Photos</li>
              <li>Videos</li>
          </div>          
          <div class="partial--hero__view-toggle">
            <ul>
              <li><span class="icon list active"></span></li>
              <li><span class="icon grid"></span></li>
          </div>
        </div>
      </div><!-- end of container -->
    </div>
  </div>

</section><!-- end of hero section -->
